@import '~antd/dist/antd.css';

html, body, #root {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
}

.home {
  margin: auto;
  font-size: 50px;
  color: #000;
}

.header {
  background: #fff;
  padding: 0;
}

.search-bar {
  width: 50%;
  margin-left: 50px;
}

.loading-spin {
  margin: auto;
}

.search-bar-wrapper {
}

.ant-menu-item {
  float: right !important;
}

.logo {
  margin-right: 5px;
  margin-bottom: 5px;
  width: 200px;
  text-align: center;
  display: inline-block;
  float: left !important;
}


.ad {
  display: inline-block;
  margin: 10px;
}

.ant-pagination {
  text-align: center;
  margin-top: 20px;
}
.item{
  display: flex;
  flex-direction: column;
}
.addItemDiv{
  margin: auto;
}

.login-form, 
.add-form,
.reg-form {
  margin: auto
}
